.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 2.5rem;
  padding-inline: 1.5rem;
  border-radius: var(--md-sys-shape-corner-full);
  font-style: var(--md-sys-typescale-label-large-font-family-style);
  font-weight: var(--md-sys-typescale-label-large-font-weight);
  font-size: var(--md-sys-typescale-label-large-font-size);
  line-height: var(--md-sys-typescale-label-large-line-height);
  letter-spacing: var(--md-sys-typescale-label-large-letter-spacing);
}

.button::before,
.icon-button::before {
  content: "";
  position: absolute;
  transition: all var(--md-sys-motion-duration-short4) var(--md-sys-motion-easing-emphasized);
}

.button::before {
  width: 100%;
  height: 100%;
  border-radius: var(--md-sys-shape-corner-full);
}

.button:hover::before {
  background: hsl(var(--md-sys-color-on-primary) / var(--md-sys-state-hover-state-layer-opacity));
}

.button:focus::before {
  background: hsl(var(--md-sys-color-on-primary) / var(--md-sys-state-focus-state-layer-opacity));
}

.button:active::before {
  background: hsl(var(--md-sys-color-on-primary) / var(--md-sys-state-pressed-state-layer-opacity));
}

.button--primary {
  background: var(--md-sys-color-primary);
  color: hsl(var(--md-sys-color-on-primary));
}

.icon-button {
  width: 3rem;
  height: 3rem;
  color: hsl(var(--md-sys-color-on-surface-variant));
  border-radius: var(--md-sys-shape-corner-full);
}

.icon-button::before {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: var(--md-sys-shape-corner-full);
  z-index: -1;
}

.icon-button:where(:focus, :focus-visible)::before {
  outline: 0.125rem solid hsl(var(--md-sys-color-on-surface-variant));
}

.icon-button:hover::before {
  background: hsl(
    var(--md-sys-color-on-surface-variant) / var(--md-sys-state-hover-state-layer-opacity)
  );
}

.icon-button:focus::before {
  background: hsl(
    var(--md-sys-color-on-surface-variant) / var(--md-sys-state-focus-state-layer-opacity)
  );
}

.icon-button:active::before {
  background: hsl(
    var(--md-sys-color-on-surface-variant) / var(--md-sys-state-pressed-state-layer-opacity)
  );
}
