.list {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-block: 0.5rem;
}

.list__item {
  display: flex;
  align-items: center;
  position: relative;
  height: 3.5rem;
  padding: 0 1.5rem 0 1rem;
  color: hsl(var(--md-sys-color-on-surface-variant));
  border-radius: var(--md-sys-shape-corner-full);
  transition: all var(--md-sys-motion-duration-short4) var(--md-sys-motion-easing-emphasized);
}

.list__item:where(:hover, :focus, :active, [aria-current="page"]) {
  color: hsl(var(--md-sys-color-on-secondary-container));
}

.list__item:where(:focus, :focus-visible) {
  outline: 0.125rem solid hsl(var(--md-sys-color-on-surface-variant));
}

.list--is-nav {
  flex-direction: row;
  padding: 0;
}

.list--is-nav .list__item {
  padding-inline: 1rem;
}
