{% layout "layout-base" %}

{% block %}
<main class="container">
  <h1>Esto es un Heading 1</h1>
  <p>Un poco de parrafos para animar el alma</p>
  <ul>
    <li>Bullet points numero 1</li>
    <li>bullet point numero 2</li>
  </ul>
  <pre><code class="language-javascript">const myVar = 1;</code></pre>
  <p>€ 2000,00</p>
  <p><strong>some bold text</strong></p>
  <div class="raw-html-embed">
    <h1>Some html anippet</h1>
  </div>
  <figure class="image image_resized" style="width:75%;">
    <img src="/uploads/ejemplo1_interior_madera_clara_exterior_blanco_brillante_865b9ec618.jpeg" alt="ejemplo1 interior
      madera clara exterior blanco brillante.jpeg">
    <figcaption>Caption text for image</figcaption>
  </figure>
  <p>&nbsp;</p>
  <p><a href="un link para localhost">localhost:3000</a></p>
  <blockquote>
    <p>Some blockquote! yuhuuu</p>
  </blockquote>
</main>
{% endblock %}